/* You can add global styles to this file, and also import other style files */



@font-face {
  font-family: "KgHappy";
  src: url("../src/assets/font/KgHappy-wWZZ.ttf");

  }



body {
  margin:0;
  font-family:"Futura";
}

nav {
  background: linear-gradient(25deg,#3b3b58,#b8618d);
  padding: 10px;
  font-size:20px;
  font-family:Arial, Helvetica, sans-serif;
}


nav a {
  color:white;
  text-decoration: none;
}
